<div class="container-fluid" *ngIf="!loading">
    <div class="row">
        <div class="col-md-11">

            <ul class="nav nav-tabs" style="margin-top:1rem;">
                <li *ngFor="let content of contentList;let i = index;" class="nav-item">
                    <div *ngIf="!isChangingTitle && i===currentTextIndex" [ngClass]="'nav-link active'">
                        <span (dblclick)="enableChangeTitle()">{{content.title}}</span>
                        <span style="position: float;margin-left: 2rem;"><a href="javascript:void(0)"><img src="assets/images/cancel.png" class="close-button"  (click)="deleteCurrentText();"></a></span>
                    </div>
                    <a *ngIf="i!==currentTextIndex" [ngClass]="'nav-link'" (click)="selectTab(i)">{{content.title}}</a>

                    <div [ngClass]="'nav-link active'" *ngIf="isChangingTitle && i===currentTextIndex">
                        <input #titleInput name="titleInput" id="titleInput" type="text" (blur)="disableChangeTitle()"
                            [(ngModel)]="contentList[currentTextIndex].title" (keydown)="keyDownFunction($event)">
                    </div>

                </li>
                <li class="nav-item">
                    <div class="nav-link">
                        <img src="assets/images/add.png" (click)="startNewText()" style="width:1rem; height: 1rem;">
                    </div>
                </li>
            </ul>
            <textarea class="textAreaClass" [(ngModel)]="contentList[currentTextIndex].text" rows="30"></textarea>
            <br>
            <span *ngIf="isSaved()">Salvo</span>
            <span *ngIf="!isSaved()">Não Salvo</span>
        </div>
        <div class="col-md-1">

            <div class="row" style="padding-top: 3rem;">
                <img src="assets/images/config.png" class="configImage" style="width:2rem; height: 2rem;" (click)="changeConfigState()">
            </div>

            <table *ngIf="isConfigEnabled">
                <tr>
                    <td>
                        <img [src]="user.image" style="width:2rem;height: 2rem;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/logout.png" title="Logout" class="logoutImg" (click)="logout()">
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                </tr>

            </table>

            <div class="row" style="padding-top: 3rem;">
                <img src="assets/images/save.png" class="configImage" (click)="saveContent()" style="width:2rem; height: 2rem;">
            </div>


        </div>

    </div>
</div>
<div *ngIf="loading" class="loading">Loading&#8230;</div>